## Data 4: Smarthome Dataset
Taking a look at some of the data

In [1]:
# load some libraries and such
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

# Increase column width to display df
pd.set_option('display.max_columns', None)

# Increases the size of sns plots
sns.set(rc={'figure.figsize':(12,10)})

In [2]:
# Load some data
df_A2016m2 = pd.read_csv('HomeA-meter2_2016.csv')

# print the shape and look at df
print("df_A2016m2:", df_A2016m2.shape)
df_A2016m2.head()

df_A2016m2: (246639, 14)

,Date & Time,use [kW],gen [kW],FurnaceHRV [kW],CellarOutlets [kW],WashingMachine [kW],FridgeRange [kW],DisposalDishwasher [kW],KitchenLights [kW],BedroomOutlets [kW],BedroomLights [kW],MasterOutlets [kW],MasterLights [kW],DuctHeaterHRV [kW]
0,2016-01-01 00:00:00,0.0,0.0,0.084142,0.113495,0.000123,0.001031,0.000067,0.000017,0.014268,0.004680,0.015757,0.014118,0.000029
1,2016-01-01 00:30:00,0.0,0.0,0.009887,0.028861,0.000007,0.001053,0.000021,0.000009,0.014318,0.004695,0.015827,0.014174,0.000017
2,2016-01-01 01:00:00,0.0,0.0,0.044926,0.086999,0.000083,0.001052,0.000026,0.000009,0.014312,0.004689,0.015832,0.014162,0.000018
3,2016-01-01 01:30:00,0.0,0.0,0.037721,0.049664,0.000064,0.001056,0.000028,0.000009,0.014382,0.004702,0.015922,0.014249,0.000021
4,2016-01-01 02:00:00,0.0,0.0,0.010029,0.065564,0.000011,0.001069,0.000009,0.000005,0.014443,0.004714,0.015996,0.014314,0.000014

In [3]:
df_A2016m2.tail()

,Date & Time,use [kW],gen [kW],FurnaceHRV [kW],CellarOutlets [kW],WashingMachine [kW],FridgeRange [kW],DisposalDishwasher [kW],KitchenLights [kW],BedroomOutlets [kW],BedroomLights [kW],MasterOutlets [kW],MasterLights [kW],DuctHeaterHRV [kW]
246634,2016-12-31 23:55:00,0.0,0.0,0.086217,0.114800,0.000083,0.001050,0.0,0.000017,0.004667,0.004650,0.002450,0.013983,0.000033
246635,2016-12-31 23:56:00,0.0,0.0,0.086217,0.114683,0.000100,0.001017,0.0,0.000000,0.004667,0.004633,0.002467,0.013967,0.000050
246636,2016-12-31 23:57:00,0.0,0.0,0.086417,0.114583,0.000083,0.001050,0.0,0.000000,0.004667,0.004633,0.002450,0.013967,0.000033
246637,2016-12-31 23:58:00,0.0,0.0,0.086200,0.114417,0.000083,0.001083,0.0,0.000000,0.004717,0.004700,0.002467,0.014067,0.000050
246638,2016-12-31 23:59:00,0.0,0.0,0.086083,0.114200,0.000083,0.001033,0.0,0.000017,0.004667,0.004633,0.002450,0.013967,0.000033

In [4]:
df_A2016m2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246639 entries, 0 to 246638
Data columns (total 14 columns):
Date & Time                246639 non-null object
use [kW]                   246639 non-null float64
gen [kW]                   246639 non-null float64
FurnaceHRV [kW]            246639 non-null float64
CellarOutlets [kW]         246639 non-null float64
WashingMachine [kW]        246639 non-null float64
FridgeRange [kW]           246639 non-null float64
DisposalDishwasher [kW]    246639 non-null float64
KitchenLights [kW]         246639 non-null float64
BedroomOutlets [kW]        246639 non-null float64
BedroomLights [kW]         246639 non-null float64
MasterOutlets [kW]         246639 non-null float64
MasterLights [kW]          246639 non-null float64
DuctHeaterHRV [kW]         246639 non-null float64
dtypes: float64(13), object(1)
memory usage: 26.3+ MB

In [5]:
df_A2016m2.describe()

,use [kW],gen [kW],FurnaceHRV [kW],CellarOutlets [kW],WashingMachine [kW],FridgeRange [kW],DisposalDishwasher [kW],KitchenLights [kW],BedroomOutlets [kW],BedroomLights [kW],MasterOutlets [kW],MasterLights [kW],DuctHeaterHRV [kW]
count,246639.0,246639.0,246639.000000,246639.000000,246639.000000,246639.000000,246639.000000,246639.000000,246639.000000,246639.000000,246639.000000,246639.000000,246639.000000
mean,0.0,0.0,0.154952,0.082903,0.000539,0.001224,0.000144,0.000048,0.007485,0.005818,0.006435,0.014404,0.000110
std,0.0,0.0,0.213281,0.057872,0.000844,0.009572,0.000154,0.000077,0.007228,0.006083,0.026477,0.002871,0.000175
min,0.0,0.0,0.003162,0.006850,0.000000,0.000000,0.000000,0.000000,0.000417,0.000583,0.000000,0.001767,0.000000
25%,0.0,0.0,0.009867,0.008800,0.000033,0.000909,0.000033,0.000017,0.003300,0.004600,0.001917,0.013900,0.000033
50%,0.0,0.0,0.085900,0.113750,0.000100,0.001017,0.000067,0.000017,0.005217,0.004650,0.003083,0.014050,0.000050
75%,0.0,0.0,0.155683,0.115883,0.000833,0.001050,0.000283,0.000067,0.010267,0.004717,0.009100,0.014183,0.000117
max,0.0,0.0,0.981883,0.533200,0.059717,1.328767,0.002550,0.004033,1.458150,0.104350,1.421250,0.058467,0.000933

In [6]:
# Load some data
df_A2016weather = pd.read_csv('homeA2016.csv')

# print the shape and look at df
print("df_A2016weather:", df_A2016weather.shape)
df_A2016weather.head()

df_A2016weather: (8760, 14)

,temperature,icon,humidity,visibility,summary,apparentTemperature,pressure,windSpeed,cloudCover,time,windBearing,precipIntensity,dewPoint,precipProbability
0,34.98,clear-night,0.63,10.00,Clear,27.95,1016.80,8.95,NaN,1451624400,275.0,0.0,23.79,0.0
1,34.82,partly-cloudy-night,0.64,9.88,Mostly Cloudy,27.36,1016.23,9.71,0.92,1451628000,273.0,0.0,23.76,0.0
2,34.07,clear-night,0.65,10.00,Clear,27.58,1016.02,7.65,NaN,1451631600,273.0,0.0,23.60,0.0
3,34.02,clear-night,0.67,9.93,Clear,28.55,1015.99,6.12,NaN,1451635200,272.0,0.0,24.19,0.0
4,34.00,partly-cloudy-night,0.68,10.00,Mostly Cloudy,27.42,1015.58,7.78,0.75,1451638800,260.0,0.0,24.48,0.0

In [7]:
df_A2016weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
temperature            8760 non-null float64
icon                   8760 non-null object
humidity               8759 non-null float64
visibility             8759 non-null float64
summary                8760 non-null object
apparentTemperature    8760 non-null float64
pressure               8759 non-null float64
windSpeed              8755 non-null float64
cloudCover             7814 non-null float64
time                   8760 non-null int64
windBearing            8753 non-null float64
precipIntensity        8760 non-null float64
dewPoint               8759 non-null float64
precipProbability      8760 non-null float64
dtypes: float64(11), int64(1), object(2)
memory usage: 958.2+ KB